<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<script data-ad-client="ca-pub-4004016694291338" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
 <div class="login">
	<h1>Acute Inf Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="/predict" method="post">
    	<input type="number" min="350" max="420" name="ATES" placeholder="ATES GİRİNİZ(350-420 ARASI,ATEŞ x 10 YAPARAK GİRİNİZ)" required="required" />
        <input type="number" min="0" max="1" name="BULANTI" placeholder="BULANTI" required="required" />
		<input type="number" min="0" max="1" name="BEL-AGRISI" placeholder="BEL-AGRISI VAR İSE 1, YOK İSE 0 YAZINIZ " required="required" />
		<input type="number" min="0" max="1" name="SUREKLI-WC" placeholder="SUREKLI WC'YE GİTME VAR İSE 1, YOK İSE 0 YAZINIZ" required="required" />
		<input type="number" min="0" max="1" name="IDRAR-SIRASINDA-AGRI" placeholder="IDRAR-SIRASINDA-AGRI VAR İSE 1, YOK İSE 0 YAZINIZ" required="required" />
		<input type="number" min="0" max="1" name="URETREDA-YANMA-SISME-KASINTI" placeholder="URETREDA-YANMA-SISME-KASINTI VAR İSE 1, YOK İSE 0 YAZINIZ" required="required" />
    
        <button type="submit" class="btn btn-primary btn-block btn-large"> Predict </button>
         
    </form>

   <br>
   <br>
   {{ prediction_text1  }}
   {{ prediction_text2  }}
 </div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.12.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.12.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>

</html>

